<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.rohisnatardev.ichwan.appprojectplanb">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_logobbq"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logobbq_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        tools:targetApi="m">
        <activity android:name=".JadwalSholatActivity"></activity>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-7454540885326938~4906143525" />

        <activity android:name=".Monitor.MonitorActivity" />
        <activity android:name=".BlogMain.BlogQuran.BlogQuranDetailActivity" />
        <activity android:name=".BlogMain.BlogTahsin.BlogTahsinDetailActivity" />
        <activity android:name=".BlogMain.BlogTajwid.BlogTajwidDetailActivity" />
        <activity android:name=".Setting.TentangAppActivity" />
        <activity android:name=".Setting.PolicyActivity" />

        <activity
            android:name=".Splashscreen.SliderActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Dzikir.doaharian.DoaHarianActivity" />
        <activity android:name=".Dzikir.dzikirpetang.DzikirPetangActivity" />
        <activity android:name=".Dzikir.dzikirpagi.DzikirPagiActivity" />
        <activity android:name=".Bookmark.AlifLam.QomariyahActivity" />
        <activity android:name=".Bookmark.AlifLam.SyamsiyahActivity" />
        <activity android:name=".Quran.WaqafActivity" />
        <activity android:name=".Murottal.MurattalActivity" />
        <activity android:name=".Bookmark.Hamzah.QathiActivity" />
        <activity android:name=".Bookmark.Hamzah.WashalActivity" />
        <activity android:name=".Quran.SajdahActivity" />
        <activity android:name=".Quran.CariSurahActivity" />

        <service android:name=".MyFirebaseMessageService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".Bookmark.Khusus.TashilActivity" />
        <activity android:name=".Bookmark.Khusus.SaktahActivity" />
        <activity android:name=".Bookmark.Khusus.IsymamActivity" />
        <activity android:name=".Bookmark.Khusus.NaqlActivity" />
        <activity android:name=".Bookmark.Khusus.ImalahActivity" />
        <activity android:name=".Bookmark.HukumIdgham.MutaqaribainActivity" />
        <activity android:name=".Bookmark.HukumIdgham.MutajanisainActivity" />
        <activity android:name=".Bookmark.HukumIdgham.MutamasilainActivity" />
        <activity android:name=".Bookmark.HukumLamdanRa.HukumRaTarqiqActivity" />
        <activity android:name=".Bookmark.HukumLamdanRa.HukumLamTarqiqActivity" />
        <activity android:name=".Bookmark.HukumLamdanRa.HukumRaActivity" />
        <activity android:name=".Bookmark.HukumLamdanRa.HukumLamActivity" />
        <activity android:name=".Tahsin.SifatNonLawan.SifatTunggal" />
        <activity android:name=".Tahsin.SifatLawan.SifatJamak" />
        <activity android:name=".Tajwid.BacaanActivity" />
        <activity android:name=".Tajwid.Qalqalah.QalqalahKubraActivity" />
        <activity android:name=".Tajwid.Qalqalah.QalqalahSughraActivity" />
        <activity android:name=".Tajwid.MimMati.IdghamMislainActivity" />
        <activity android:name=".Tajwid.MimMati.IkfhaSyafawiActivity" />
        <activity android:name=".Tajwid.MimMati.IdzharSyafawiActivity" />
        <activity android:name=".Tahsin.AlKhaisActivity" />
        <activity android:name=".Tahsin.AlJaufActivity" />
        <activity android:name=".Tahsin.AsSyafActivity" />
        <activity android:name=".Tahsin.AlLisanActivity" />
        <activity android:name=".Tahsin.AlHalqActivity" />
        <activity android:name=".Tajwid.HukumMad.MadMunfasilActivity" />
        <activity android:name=".Tajwid.HukumMad.MadMuttasilActivity" />
        <activity android:name=".Tajwid.HukumMad.MadSlhKubraActivity" />
        <activity android:name=".Tajwid.HukumMad.MadLazimActivity" />
        <activity android:name=".Tajwid.HukumMad.MadAridLsActivity" />
        <activity android:name=".Tajwid.HukumMad.MadLiynActivity" />
        <activity android:name=".Tajwid.HukumMad.MadShilahActivity" />
        <activity android:name=".Tajwid.HukumMad.MadIwadhActivity" />
        <activity android:name=".Tajwid.HukumMad.MadBadalActivity" />
        <activity android:name=".Tajwid.HukumMad.MadThabiiActivity" />
        <activity android:name=".Tajwid.NunMati.IqlabActivity" />
        <activity android:name=".Tajwid.NunMati.IkhfaActivity" />
        <activity android:name=".Tajwid.NunMati.IdzharActivity" />
        <activity android:name=".Tajwid.NunMati.IdghamActivity" />
        <activity android:name=".Tajwid.TajwidActivity" />
        <activity
            android:name=".UtamaActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateAlwaysHidden" />
    </application>

</manifest>